{% extends 'base.html' %}
{% block content %}

<div class="container">
<br><br>
<h1>About Us</h1>
<br><br>

<p>Rainbow Saathi is a free dating platform for members of the South Asian LGBTQI community. The South Asian dating scene is dominated by the overwhelming presence of heterosexual dating websites with no options to select same-sex relationships. The gay scene is often focused on hooking up while there is a non-existent lesbian scene. We wanted to create a dating website on the same principles for the LGBTQI community as there are dating websites for heterosexual desis. Additionally, the platform is free with unlimited messages. We welcome Indian, Pakistani, Bangladeshi, British Asian, Canadian and American desis, as well members of other communities who are interested in dating South Asian Lesbian, Gay, Bisexual, Trans, Queer and Intersex individuals. <p>
<p>We want to promote a safe and healthy environment where people can talk and meet freely. We are against violence in any way, shape and form. No bullying, harassment, threats and foul language will be tolerated from any user. If any user has a complaints against another fellow user then the anonymous ‘report’ button can be used to report a user. We will take actions accordingly and the account of the abusive user can be deleted, if found against our policies. <p>

<p>For any queries, please do not hesitate to contact founder Fahad Sher Hussain on rainbowsaathimail@gmail.com. Furthermore, you can email us to permanently delete your login account on rainbowsaathimail@gmail.com. <p>


</div>



{% endblock %}
